/* For CSS important to the functioning of the game. */

.no-display {
  display: none !important;
}

.game-area {
  max-width: 900px;
}

.gameboard-area {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.gameboard-grid {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);
}

.cell {
  width: 24px;
  height: 24px;
  border: 1px solid black;
  display: inline-block;
  user-select: none;
}

/* This pseudo element helps keep the cells aligned together */
/* Empty divs act strangely, so put content in them.  */
/* Delete it and then run this in console to see that */
/* document.querySelectorAll(".cell").forEach(cell => cell.textContent = "A"); */
.cell::after {
  content: '.';
  visibility: hidden;
}

.selectable {
  position: relative;
  z-index: auto;
}

.selectable:hover {
  background-color: rgb(222, 238, 252)
}

.ship-selection {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.ship.draggable {
  width:fit-content;
  display: flex;
  flex-direction: row;
}

.ship.draggable .cell {
  background-color: #2c97fc;
}

.draggable {
  cursor: move;
}

.valid-drag {
  border: 1px solid rgb(0, 255, 55) !important;
  background-color: rgba(0, 255, 64, 0.3) !important;
}

div.ship.ship-placed {
  position: absolute;
  z-index: 10;
}

div.ship.ship-placed:hover {
  box-shadow: 0px 0px 10px #4e8a02;
}

.occupied {
  background-color: rgb(222, 238, 252);
}

.ship.draggable.vertical {
  flex-direction: column;
}

.cpu-ship-placed {
  border: 1px solid rgb(131, 25, 25);
  background-color: rgba(32, 2, 2, 0.72);
}

.cpu-ship-reveal {
  background-color: rgba(255, 136, 136, 0.863);
  border: 1px solid darkred;
}

.cpu-ship-reveal.ship-start-horizontal {
  border-right: 1px solid transparent;
}

.cpu-ship-reveal.ship-middle-horizontal {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.cpu-ship-reveal.ship-end-horizontal {
  border-left: 1px solid transparent;
}

.cpu-ship-reveal.ship-start-vertical {
  border-bottom: 1px solid transparent;
}

.cpu-ship-reveal.ship-middle-vertical {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.cpu-ship-reveal.ship-end-vertical {
  border-top: 1px solid transparent;
}

.cell-transparent {
  border: 1px solid transparent;
}

.gameboard-area {
  transition: border 0.7s;
}

.gameboard-area.game-active {
  /* border: 1px solid red; */
}

.p1.gameboard .cell.attackable .ship {
  cursor: default;
}

.p1.gameboard .cell.attackable:hover {
  background-color: revert;
}

.p2.gameboard .cell.attackable:not(.attacked):hover {
  background-color: rgba(255,0,0,0.6);
  cursor: crosshair;
}

div.gameboard-area.game-active > div.gameboard .cell.attacked {
  cursor: default;
  background-color: rgba(0, 0, 0, 0.7);
}

.gameboard .cell.attacked::after {
  position: absolute;
  top: 0;
  left: 25%;
  visibility: unset;
  z-index: 100;
  font-family: monospace;
  font-size: 170%;
  right: 25%;
  /* bottom: 25%; */
}

.gameboard .cell.attacked.miss::after {
  content: "○";
  color: white;
  animation: smash 0.5s;
}

.gameboard .cell.attacked.hit::after {
  content: "X";
  color: red;
  animation: smash 0.5s;
}

@keyframes smash {
  0% {
    opacity: 0.25;
    transform: scale(1.5);
  }
  75% {
    opacity: 0.5;
    transform: scale(0.65);
  }
  100% {
    opacity: 1.0;
    transform: scale(1);
  }
}
