/* For CSS important to the functioning of the game. */

.no-display {
  display: none !important;
}

.game-area {
  max-width: 900px;
}

.gameboard-area {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.gameboard-grid {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);
}

.cell {
  width: 24px;
  height: 24px;
  border: 1px solid black;
  display: inline-block;
  user-select: none;
}

/* This pseudo element helps keep the cells aligned together */
/* Empty divs act strangely, so put content in them.  */
/* Delete it and then run this in console to see that */
/* document.querySelectorAll(".cell").forEach(cell => cell.textContent = "A"); */
.cell::after {
  content: '.';
  visibility: hidden;
}

.selectable {
  position: relative;
  z-index: auto;
}

.selectable:hover {
  background-color: rgb(222, 238, 252)
}

.ship-selection {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.ship.draggable {
  width:fit-content;
  background-color: cyan;
  display: flex;
  flex-direction: row;
}

.draggable {
  cursor: move;
}

.valid-drag {
  border: 1px solid rgb(0, 255, 55);
  background-color: rgba(0, 255, 64, 0.3);
}

div.ship.ship-placed {
  position: absolute;
  z-index: 10;
}

div.ship.ship-placed:hover {
  box-shadow: 0px 0px 10px #4e8a02;
}

.occupied {
  background-color: rgb(222, 238, 252);
}

.occupied:hover {
}

.ship.draggable.vertical {
  flex-direction: column;
}

.cpu-ship-placed {
  background-color: rgba(255, 136, 136, 0.863);
  border: 1px solid darkred;
}

.ship-start-horizontal {
  border-right: 1px solid transparent;
}

.ship-middle-horizontal {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.ship-end-horizontal {
  border-left: 1px solid transparent;
}

.ship-start-vertical {
  border-bottom: 1px solid transparent;
}

.ship-middle-vertical {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.ship-end-vertical {
  border-top: 1px solid transparent;
}

.cell-transparent {
  border: 1px solid transparent;
}

.ship-placed .cell {
  /* border: 1px solid rgba(27, 102, 71, 0.3); */
}

.gameboard-area {
  transition: border 0.7s;
}

.gameboard-area.game-active {
  border: 1px solid red;
}

.p1.gameboard .cell.attackable .ship {
  cursor: default;
}

.p1.gameboard .cell.attackable:hover {
  background-color: revert;
}

.p2.gameboard .cell.attackable:hover {
  background-color: rgba(255,0,0,0.6);
  cursor: crosshair;
}

.gameboard .cell.attacked::after {
  content: "X";
  position: absolute;
  top: 0;
  left: 0;
  color: red;
  visibility: unset;
  z-index: 100;
}
