.game-area {
  max-width: 900px;
  margin: 0 auto;
}

.gameboard-area {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cell {
  width: 24px;
  height: 24px;
  border: 1px solid black;
  display: inline-block;
}

/* This pseudo element helps keep the cells aligned together */
/* Empty divs act strangely, so put content in them.  */
/* Delete it and then run this in console to see that */
/* document.querySelectorAll(".cell").forEach(cell => cell.textContent = "A"); */
.cell::after {
  content: '.';
  visibility: hidden;
}

.selectable:hover {
  background-color: rgb(222, 238, 252)
}

.ship-selection {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.ship.draggable {
  width:fit-content;
  background-color: cyan;
}

.draggable {
  cursor: move;
}

.draggable:hover {
  background-color: blue;
}