/* For CSS that has aesthetic purposes. */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  background: linear-gradient(353deg, rgb(11 35 56 / 89%), rgb(94 207 219 / 54%) 55.71%),
  linear-gradient(265deg, rgb(238 8 26 / 90%), rgb(18 38 88 / 73%) 70.71%),
  linear-gradient(142deg, rgb(133 131 205 / 83%), rgb(49 82 103 / 77%) 70.71%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer a {
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
}

.footer .gh-icon {
  width: 16px;
  padding: 2px;
  padding-left: 5px;
}

.header {
  font-family: "Poppins";
  text-shadow: 4px 2px 2px #00000045;
  margin-left: 15px;  
}

.title-container {
  display: flex;
  flex-direction: row;
  align-items:center;
}

.title {
  font-size: 225%;  
}

.author {
  width: fit-content;
  position: relative;
  left: 66px;
}

.logo-pic {
  width: 64px;
}

.gameboard-grid {
  box-shadow: 3px 3px 16px 4px #45434394;
}

.p1 .gameboard-grid {
  border: 2px solid black;
}

.p1 .gameboard-grid > .cell {
  background-color: rgb(2 12 32 / 73%);
}

.p2 .gameboard-grid {
  border: 2px solid black;
}

.p1.gameboard .cell {
  border: 1px solid rgb(25,79,131);
}

.p2.gameboard .cell:not(.cpu-ship-placed) {
  border: 1px solid rgb(131, 25, 25);
  background-color: rgba(32, 2, 2, 0.72);
}

.gameboard-owner {
  text-align: center;
  margin: 10px;
  font-size: 125%;
  font-variant-caps: all-small-caps;
  font-weight: 500;
}

.ship {
  position: relative;
  border: 1px solid black;
}

div.ship.draggable {
  transition: all 0.3s ease-out;
}

div.ship.draggable div.cell {
  border: 3px outset #1964c4;
  width: 19.7px;
  height: 19.1px;
}

div.ship-placed.vertical div.cell {
  height: 19.7px;
  width: 19.1px;
}


div.ship-placed {
  top: -2px;
  left: -2px;
  background-color: #189dd1;
}

div.ship.draggable:hover {
  box-shadow: 0px 0px 10px rgba(184, 233, 255, 0.562);
  border: 1px solid orange;
}

div.ship.draggable:hover::before {
  content: "";
  position: absolute;
  bottom: 100%; 
  left: 15px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black black transparent transparent;
}

div.ship.draggable:hover::after {
  position: absolute;
  content: attr(data-name);
  font-variant-caps: all-small-caps;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(45,45,45);
  padding: 3px;
  color: beige;
  bottom: calc(100% + 5px);
}

.cell.numbering .number-label {
  margin: 6px auto;
  font-family: monospace;
  font-size: 110%;
  width: fit-content;
}

.game-area {
  margin: 15px auto;
}

.dialog-area {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  text-shadow: 2px 1px 6px rgb(100, 100, 100);
  min-height: 75px;
}

.dialog-area .dialog-msg {
  font-size: 165%;
  margin-bottom: 15px;
}

.dialog-area .controls-help {
  font-size: 0.9rem;
  line-height: .25in;
}

.menu-area {
  width: 290px;
  margin: 0 auto;
}

.ship-selection > * {
  margin: 5px 0;
}

.ship-placer {
  min-height: 200px;
}

.ship-placer-label, .start-game-prompt > [for="p1-name"] {
  font-variant-caps: all-petite-caps;
  font-size: 1.1rem;
  margin-top: 5px;
}


#p1-name {
  all: unset;
  margin: 5px 0;
  margin-left: 5px;
  border-bottom: 1px solid white;
  width: 75%;
}

.start-game-button, .play-again {
  font-family: "Poppins";
  font-size: 1.05rem;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: rgb(255, 215, 140);
  transition: background-color 0.25s ease-out;
}

.start-game-button:disabled {
  background-color: grey;
}

.subdialog-area {
  /* animation: pull-open 1.25s; */
}

@keyframes pull-open {
  from {
    transform: scaleY(0.1);
  }
  to {
    transform: scaleY(1);
  }
}

.start-game-button:not([disabled]):hover {
  background-color: rgb(255, 231, 185);
}

.start-game-button:active, .play-again:active {
  background-color: rgb(165, 125, 49);
}

.appear-from-bottom {
  animation: appear-from-bottom 0.75s ease-in;
}

.appear-from-right {
  animation: appear-from-right 1s ease-out;
}

@keyframes appear-from-bottom {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes appear-from-right {
  0% {
    opacity: 0;
    transform: translateX(10px);
  }
  30% {
    opacity: 0;
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.summary-area {
  width: 320px;
  margin: 15px auto;
}

.victory-message {
  font-family: "Poppins";
  text-align: center;
  font-size: 150%;
}

.winner {
  display: block;
  text-align: center;
  margin: 10px;
  font-size: 115%;
  font-weight: bold;
}

.accuracy {
  text-align: center;
  font-family: "Poppins";
  font-size: 115%;
  margin: 15px auto 0px auto;
}

.acc-container {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  font-variant-caps: petite-caps;
}

.play-again {
  margin: 15px 0;
}

.summary-screen {
  text-shadow: 2px 0px 3px #3c3c3c;
  border: 1px solid #382504;
  padding: 10px;
  border-radius: 5px;
  background-color: #211a3078;
  box-shadow: 5px 3px 14px 4px #00000033;
}
