/* For CSS that has aesthetic purposes. */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  background: linear-gradient(353deg, rgb(11 35 56 / 89%), rgb(94 207 219 / 54%) 55.71%),
  linear-gradient(265deg, rgb(238 8 26 / 90%), rgb(18 38 88 / 73%) 70.71%),
  linear-gradient(142deg, rgb(133 131 205 / 83%), rgb(49 82 103 / 77%) 70.71%);
}

.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer a {
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
}

.footer .gh-icon {
  width: 16px;
  padding: 2px;
  padding-left: 5px;
}

.header {
  font-family: "Poppins";
  text-shadow: 4px 2px 2px #00000045;
  margin-left: 15px;  
}

.title-container {
  display: flex;
  flex-direction: row;
  align-items:center;
}

.title {
  font-size: 225%;  
}

.author {
  width: fit-content;
  position: relative;
  left: 66px;
}

.logo-pic {
  width: 64px;
}

.p1 .gameboard-grid {
  border: 2px solid black;
}

.p2 .gameboard-grid {
  border: 2px solid black;
}

.p1.gameboard .cell {
  border: 1px solid rgb(25,79,131);
}

.p2.gameboard .cell {
  border: 1px solid rgb(131, 25, 25);
}

.gameboard-owner {
  text-align: center;
  margin: 10px;
  font-size: 125%;
  font-variant-caps: all-small-caps;
  font-weight: 500;
}

.ship {
  border: 1px solid black;
}

div.ship.draggable {
  transition: all 0.3s ease-out;
}

div.ship.draggable div.cell {
  border: 3px outset #1964c4;
  width: 19.7px;
  height: 19.1px;
}

div.ship-placed.vertical div.cell {
  height: 19.7px;
  width: 19.1px;
}


.ship-placed {
  top: -2px;
  left: -2px;
  background-color: #189dd1;
}

div.ship.draggable:hover {
  box-shadow: 0px 0px 10px rgba(184, 233, 255, 0.562);
  border: 1px solid orange;
}

.cell.numbering .number-label {
  display: inline-block;
  margin: 6px 5px;
  font-family: monospace;
  font-size: 110%;
  width: fit-content;
}

.game-area {
  margin: 15px auto;
}

.dialog-area {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  text-shadow: 2px 1px 6px rgb(100, 100, 100);
}

.dialog-area .dialog-msg {
  font-size: 165%;
  margin-bottom: 15px;
}

.dialog-area .controls-help {
  font-size: 0.9rem;
  line-height: .25in;
}

.controls-area {
  width: 290px;
  margin: 0 auto;
}

.ship-selection > * {
  margin: 5px 0;
}

.ship-placer {
  min-height: 200px;
}

.ship-placer-label, .start-game-prompt > [for="p1-name"] {
  font-variant-caps: all-petite-caps;
  font-size: 1.1rem;
  margin-top: 5px;
}

.ship.draggable {
  background-color: #2c97fc;
}

#p1-name {
  all: unset;
  margin: 5px 0;
  margin-left: 5px;
  border-bottom: 1px solid white;
  width: 75%;
}

.start-game-button {
  font-family: "Poppins";
  font-size: 1.05rem;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: rgb(255, 215, 140);
  transition: all 0.5s ease-out;
}

.start-game-button:disabled {
  background-color: grey;
}